
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br/>
<h4>YENİ DENEYİM SAYFASI EKLEME</h4>

<br/>
<form method="post">
    <input type="text" name="Baslik" class="form-control" placeholder="Başlığı Yazınız" />
    <br />
    <input type="text" name="AltBaslik" class="form-control" placeholder="Alt Başlık" />
    <br />
    <input type="text" name="Tarih" class="form-control" placeholder="Çalışma Tarihi" />
    <br />
    <textarea placeholder="Açıklama Yazınız" name=" Aciklama" class="form-control" rows="5"></textarea>
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

