
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br/>
<h2>Yeni Admin Ekleme Sayfası</h2>
<br />
<form method="post">
    <input type="text" name="KullaniciAdi" class="form-control" placeholder="Kullanıcı Adını Giriniz" />
    <br />
    <input type="text" name="Sifre" class="form-control" placeholder="Şifreyi Giriniz" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

