@model MvcCv.Models.Entity.TblSertifikalarim


@{
    ViewBag.Title = "YeniSertifika";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4> YENİ SERTİFİKA EKLEME SAYFASI</h4>
<br />
<form method="post">
    @Html.Label("Sertifika Açıklaması")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Kaydet</button>
</form>
