
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Hakkımda Menüsü</h1>

<table class="table table-bordered">
    <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Murat</td>
        <td>Elazığ</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Mesut</td>
        <td>Adana</td>
    </tr>
</table>